@import url('https://fonts.googleapis.com/css?family=Dosis|Staatliches');

@-webkit-keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Todo*/

.container{
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
}

/* Pantalla principal */

.splash-screen{
    background-image: url("Imagenes/background-juego.jpg");
    height: 637px;
    position: relative;
}

.borde {
    padding-top: 2%;
}

.splash-screen-center {
    background-color: #FFD6D4;
    width: 50%;
    height: 55%;
    text-align: center;
    position: absolute;
    margin-top:11%;
    margin-left: 24%;
    border-radius: 5px;
}

.splash-screen-center h1 {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    color: white;
    padding-top: 1.5%;
    transition: transform .7s ease;
}

.titulo-splash {
    font-size: 20px;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    color: #DB7093;
}

h3 {
    font-family: 'Staatliches', cursive;
    font-size: 23px;
    color: white;
    padding-bottom: 7%;
}

.flexbox-container p {
    padding-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
    color: #DB7093;
    
}

.swing:hover
{
-webkit-animation: swing 1s ease;
animation: swing 1s ease;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
}

.grow:hover
{
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}

    /* Dos secciones separadas*/

.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    padding-top: 3%;
}

.flexbox-container > div {
    width: 35%;
    padding-top: 3%;
    padding-bottom: 3%;
    /*border: 2px solid #FFACFF;
    border-radius: 5px;*/
}

.flexbox-container > div:first-child {
    margin-right: 4%;
    margin-left: 13%;
}

    /*Button lila*/

    .boton {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding: 0.5em 1.2em;
        background: #FEAEAE;
        border: 2px solid;
        border-color: #FEAEAE;
        position: relative;
      }
      .boton:before {
        content:"";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0px;
        background: rgba(255, 255, 255, 0.1);
        transition: all 1s ease;
      } 
      .boton:hover:before {
        height: 100%;
      }

/* Pantalla de juego */
.game-screen {
    margin: auto;
    margin-top: 9%;
    width: 1000px;
    height: 500px;
    margin-left: 11.5%;
    border: 1px #C5BBFF solid;
    background-image: url("Imagenes/background-game.png");
    position: absolute;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .div1-flexcontainer {
    height: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: #DDB2E1;
}

.div2-flexcontainer{
    height: 90px;
    width: 160px;
    background-color: antiquewhite;
    padding-left: 55px;
    border: 1px #FFCC7E solid;
}

.div3-flexcontainer{
  height: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  background-color: #A7D3F2;
}

#countdown{
    color:#FFCC7E;
    font-family: 'Staatliches', cursive;
    font-size: 70px;
    padding-top: 10px;
}

.down{
    margin-top: 10px;
}

.padding-bottom{
    padding-bottom: 6px;
}

.blackletter{
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}

.color-player1 {
    color: #5B1D56;
}

.color-player2 {
    color: #1B476A;
}
/*Settings */

.div-buttom-settings {
    text-align: center;
    padding-top: 4%;
}

.settings-screen-center {
    background-color: #C2FFBF;
    width: 50%;
    height: 55%;
    text-align: center;
    position: absolute;
    margin-top:11%;
    margin-left: 24%;
    border-radius: 5px;
    padding-top: 1%;
}

.settings-screen-center h1 {
    font-family: 'Staatliches', cursive;
    font-size: 55px;
    color: white;
    padding-top: 3%;
    transition: transform .7s ease;
    padding-bottom: 1%;
}

.titulo-settings {
    font-size: 20px;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    color: #4FA048;
    padding-bottom: 5%;
}

.player12name {
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    border: 1px solid white;
}

.separar-settings {
    padding-bottom: 2%;
}

    /*Botoon rosa*/
.boton-verde {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #8DF085;
    border: 2px solid;
    border-color: #8DF085;
    position: relative;
  }
  .boton-verde:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
  } 
  .boton-verde:hover:before {
    height: 100%;
  }

  /*Instructions*/

  .instructions-screen-center {
    background-color: #FFE5BD;
    width: 50%;
    height: 85%;
    text-align: center;
    position: absolute;
    margin-top:3%;
    margin-left: 24%;
    border-radius: 5px;
}

.instructions-screen-center h1 {
    font-family: 'Staatliches', cursive;
    font-size: 55px;
    color: white;
    padding-top: 1%;
    transition: transform .7s ease;
    padding-bottom: 1%;
}

    /*Button naranja*/

    .boton-naranja {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding: 0.5em 1.2em;
        background: #FFD070;
        border: 2px solid;
        border-color: #FFD070;
        position: relative;
      }
      .boton-naranja:before {
        content:"";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0px;
        background: rgba(255, 255, 255, 0.1);
        transition: all 1s ease;
      } 
      .boton-naranja:hover:before {
        height: 100%;
      }

      .titulo-instructions {
        font-size: 20px;
        padding-top: 2%;
        padding-left: 10%;
        padding-right: 10%;
        color: #DFA246;
    }

    .p-container{
        color: #DFA246;
        padding-top: 5%;
        font-size: 18px;
    }

    .div-3-p p{
        color: #DFA246;
    }

    .flexbox-containert p {
        padding-bottom: 10%;
        padding-left: 2%;
        padding-right: 2%;
        color: #DB7093;
        
        
    }

    .flexbox-containert {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        padding-top: 5%;
        padding-left: 25%;
    }
    
    .flexbox-containert > div {
        width: 35%;
        padding-top: 3%;
    }

    .espacio-botton {
        padding-top: 6%;
    }

    /*Game over Screen */

    .player-color {
        color: #176476;
    }

    .gameover-screen-center {
        background-color: #B9EFFF;
        width: 50%;
        height: 55%;
        text-align: center;
        position: absolute;
        margin-top:11%;
        margin-left: 24%;
        border-radius: 5px;
    }

    .gameover-screen-center h1 {
        font-family: 'Staatliches', cursive;
        font-size: 50px;
        color: white;
        padding-top: 1.5%;
        transition: transform .7s ease;
    }

    /* Boton blue */
    .boton-blue {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding: 0.5em 1.2em;
        background: #79E0FF;
        border: 2px solid;
        border-color: #79E0FF;
        position: relative;
      }
      .boton-blue:before {
        content:"";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0px;
        background: rgba(255, 255, 255, 0.1);
        transition: all 1s ease;
      } 
      .boton-blue:hover:before {
        height: 100%;
      }

      .titulo-gameover {
        font-size: 20px;
        padding-top: 2%;
        padding-left: 10%;
        padding-right: 10%;
        color: #40C4EC;
    }

    .padding-bottom-gameover {
        padding-top: 4%;
    }

    .padding-div-gameover {
        padding-bottom: 5%;

    }

    .background-x{
        background-color: #95E6FE;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .flexbox-container-gameover {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        padding-top: 3%;
        text-align: center;
        justify-content: flex-start;
    }
    
    .flexbox-container-gameover > div {
        padding-top: 1%;
        padding-bottom: 3%;
    }
    
    .flexbox-container-gameover > div:first-child {
        margin-left: 31.5%;
        padding-right: 4%;
    }
