.container{
    width: 100%;
    height: 100%;
}

.game-screen {
    margin: auto;
    margin-top: 9%;
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    background-image: url("Imagenes/background-game.png");
}

#countdown {
    position: absolute;
}